<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find box_sim)/urdf/box.urdf.xacro'"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model box -param robot_description -z 0.115 -X 3.000"/>

  <include file="$(find box_control)/launch/box_control.launch">
    <arg name="controllers" value="joint_state_controller" />
  </include>

</launch>
