<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="box_transmission">
        <transmission name="box_tran_1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="right_steer_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_1">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="box_tran_3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="left_steer_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_3">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="box_tran_5">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="right_drive_wheel_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_5">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="box_tran_6">
            <robotNamespace>/box</robotNamespace>
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="left_drive_wheel_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_6">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="box_tran_8">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fake_drive_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_8">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        <transmission name="box_tran_9">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="fake_steer_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="box_motor_9">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
</robot>
